.PixelGrid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: calc(100% - 36px);

    .pixelRow {
    }

    .pixel {
        width: 40px;
        height: 40px;
        border: 1px solid black;
    }
}